################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/a.exe
/test/a.exe
.vs
main.cpp
/out