################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/a.exe
/main.cpp
/.vs
/*.exe