name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@master
        with:
          # file types to ignore
          skip: "*.json,*.yml,DIRECTORY.md"
          ignore_words_list: "ba,esy,yse,falsy,sortify"
  gcc:
    name: Setup GCC
    runs-on: ubuntu-latest
    steps:
     - uses: Dup4/actions-setup-gcc@v1
     - run: |
          pwd || chmod +x ./scripts/built.sh
          ./scripts/built.sh
